@import url('https://fonts.googleapis.com/css2?family=poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: poppins , sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg , rgb(42, 4, 84) , #260379);
}
#container{
    background: linear-gradient(45deg , rgb(42, 4, 84) , #260379);
    border: 1px solid rgba(255, 255, 255, 0.25);
    width: 68%;
    height: 68vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}
#container hr{
    height: 100%;
    color:  rgba(255, 255, 255, 0.25);
}
.inputBox{
    position: relative;
    width: 250px;
    margin-bottom: 50px;
}
.inputBox input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: linear-gradient(45deg , rgb(42, 4, 84) , #260379);
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5;
}
.inputBox span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.25) ;
    text-transform: uppercase;
    transition: 0.5s;

}
.inputBox input:valid ~ span ,
.inputBox input:focus ~ span {
    color: #00dfc4;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background:  linear-gradient(45deg , rgb(42, 4, 84) , #260379);
    border-left: 1px solid #00dfc4 ;
    border-right: 1px solid #00dfc4 ;
    letter-spacing: 0.2em;
}
.inputBox:nth-child(2) input:valid ~ span ,
.inputBox:nth-child(2) input:focus ~ span {
       background:  #00dfc4;
       color:#390085 ;
       border-radius: 2px;
}
.inputBox input:valid,
.inputBox input:focus{
    border: 1px solid #00dfc4  ;
}
.player1 h3{
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.25);
}
.player2 h3{
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.25);
  }
.player1 a{
    padding: 10px;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.945) ;
    text-transform: uppercase;
    transition: 0.5s;
    background:  linear-gradient(45deg , rgb(42, 4, 84) , #260379);
    cursor: pointer;
    color:  rgba(255, 255, 255, 0.25);
    border-radius: 4px;
}
.player1 a:hover{
    border: 1px solid #0e00d3  ;
    color:  rgba(255, 255, 255, 0.25);
}
.player2 a{
    padding: 10px;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.945) ;
    text-transform: uppercase;
    transition: 0.5s;
    background:  linear-gradient(45deg , rgb(42, 4, 84) , #260379);
    cursor: pointer;
    color:  rgba(255, 255, 255, 0.25);
    border-radius: 4px;
}
.player2 a:hover{
    border: 1px solid #0e00d3  ;
    color:  rgba(255, 255, 255, 0.25);
}